@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Daryl's first web app with ASP.NET Core</a>.</p>
        <p>Add a second line</p>
        <p>Add a third line</p>
    </div>
